<h1>Editing the <%= @card.front %> card</h1>
<div class="actions">
	<%= link_to "<< Back to #{@deck.name}", deck_path(@deck) %>
</div>
<div class="container">
<%= form_for [@deck, @card] do |form| %>
	<%= render form %>
	<%= form.submit "Update Card" %>
<% end %>
</div>
