<h1>Create New Card for <%= @deck.name %></h1>
<div class="actions">
	<%= link_to "<< Back to #{@deck.name}", deck_path(@deck) %>
</div>
<div class="container">
<%= form_for [@deck, @card] do |form| %>
	<%= render form %>
	<%= form.submit "Create Card" %>
<% end %>
</div>
