<!DOCTYPE html>
<html>
<head>
  <title>FlashcardsNovid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |f| %>
 <div class="flash <%= f[0] %>"><%= f[1] %></div>
<% end %>
<%= yield %>

</body>
</html>
